---
import { getEpisodesByComicId } from "@models/comic";
import { getThumbnailPath } from "@utils/comicImage";

const { comic } = Astro.props;
const base = import.meta.env.BASE_URL;

const episodes = getEpisodesByComicId(comic.id);
---

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {
        episodes.map((episode) => (
          <div class="column is-one-third">
            <div class="card">
              <a
                class="card-link"
                href={`${base}comics/${comic.id}/episodes/${episode.number}`}
              >
                <div class="card-image">
                  <figure class="image is-3by2">
                    <img
                      src={getThumbnailPath(comic, episode.number)}
                      alt={episode.title}
                    />
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title is-5">{episode.title}</p>
                </div>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
