---
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  getAllComics,
  getComicById,
  getEpisodeByComicIdAndNumber,
} from "@models/comic";
import Pages from "@components/comics/Pages.astro";

export async function getStaticPaths() {
  const comics = getAllComics();
  const paths = [];

  for (const comic of comics) {
    for (const episode of comic.episodes) {
      paths.push({
        params: {
          comicId: String(comic.id),
          number: String(episode.number),
        },
      });
    }
  }

  return paths;
}

const { comicId, number } = Astro.params;
const comic =
  getComicById(comicId) ??
  (() => {
    throw new Error(`Comic with ID ${id} not found`);
  })();

const episode =
  getEpisodeByComicIdAndNumber(comicId, parseInt(number)) ??
  (() => {
    throw new Error(`Episode with number ${number} not found`);
  })();

const base = import.meta.env.BASE_URL;
---

<BaseLayout title={`${comic.title} ${episode.title}`}>
  <section class="section">
    <div class="container has-text-centered">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href={`${base}comics/${comic.id}`}>{comic.title}</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">{episode.title}</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <Pages comicId={comicId} episodeNumber={number} />

  <div class="buttons is-centered pb-6">
    {
      episode.number > 1 ? (
        <a
          class="button"
          href={`${base}comics/${comic.id}/episodes/${episode.number - 1}`}
        >
          <span class="icon">
            <i class="fas fa-arrow-left" />
          </span>
          <span>前の話</span>
        </a>
      ) : (
        <a class="button" disabled>
          <span class="icon">
            <i class="fas fa-arrow-left" />
          </span>
          <span>前の話</span>
        </a>
      )
    }
    <a class="button" href={`${base}comics/${comic.id}`}> 一覧に戻る </a>
    {
      episode.number < comic.episodes.length ? (
        <a
          class="button"
          href={`${base}comics/${comic.id}/episodes/${episode.number + 1}`}
        >
          <span>次の話</span>
          <span class="icon">
            <i class="fas fa-arrow-right" />
          </span>
        </a>
      ) : (
        <a class="button" disabled>
          <span>次の話</span>
          <span class="icon">
            <i class="fas fa-arrow-right" />
          </span>
        </a>
      )
    }
  </div>
</BaseLayout>
