---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllComics, getComicById } from "../../models/comic";
import Pages from "../../components/comics/Pages.astro";
import Episodes from "../../components/comics/Episodes.astro";

const base = import.meta.env.BASE_URL;

export async function getStaticPaths() {
  const comics = getAllComics();
  return comics.map((comic) => ({
    params: { id: String(comic.id) },
  }));
}

const { id } = Astro.params;
const comic =
  getComicById(id) ??
  (() => {
    throw new Error(`Comic with ID ${id} not found`);
  })();
---

<BaseLayout title={`${comic.title}`}>
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title is-3">{comic.title}</h1>
      <p class="subtitle is-6">{comic.description}</p>
    </div>
  </section>

  {comic.episodes.length > 0 ? <Episodes comic={comic} /> : <Pages id={id} />}
</BaseLayout>
