---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllComics } from "../../models/comic";

const comics = getAllComics().sort(
  (a, b) => b.updatedAt.getTime() - a.updatedAt.getTime()
);

const base = import.meta.env.BASE_URL;
---

<BaseLayout title="漫画">
  <section class="section">
    <div class="container">
      <h1 class="title">漫画一覧</h1>
      <div class="columns is-multiline">
        {
          comics.map((comic) => (
            <div class="column is-one-third" key={comic.id}>
              <div class="card">
                <a class="card-link" href={`${base}/comics/${comic.id}`}>
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src={`${base}/assets/comics/${comic.id}/thumbnail.${comic.ext}`}
                        alt={comic.title}
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <p class="title is-5">{comic.title}</p>
                  </div>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
