---
const base = import.meta.env.BASE_URL;
const { title = "" } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <style>
      .navbar {
        --bulma-navbar-background-color: #f2711c;
      }
    </style>
  </head>

  <body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href={`${base}`}> トップ </a>
        <a class="navbar-item" href={`${base}comics`}>漫画</a>
        <a class="navbar-item" href={`${base}profile`}>のと</a>
        <a class="navbar-item" href={`${base}specials`}>その他</a>
      </div>
    </nav>

    <div
      style={`background: url('${base}assets/lined_paper.png') repeat; min-height: 100vh;`}
    >
      <slot />
    </div>
  </body>
</html>
