---
const base = import.meta.env.BASE_URL;
const { title = "" } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <style>
      .navbar {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .navbar .navbar-item {
        color: white;
      }
      .navbar .navbar-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-menu is-active">
        <div class="navbar-start">
          <a class="navbar-item" href={`${base}`}>トップ</a>
          <a class="navbar-item" href={`${base}/comics`}>漫画</a>
        </div>
      </div>
    </nav>

    <div
      style={`background: url('${base}/assets/lined_paper.png') repeat; min-height: 100vh;`}
    >
      <slot />
    </div>
  </body>
</html>
